<!doctype html>
<title>{% block title %}{% endblock %} Rocket test page </title>
<header>
  <h1>🥔 Rotten Potatoes 🥔</h1>
</header>
<nav>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="favicon" href="/static/favicon.ico" />
  <h2>Pages</h2>
  <div class="sidebar">
    <ul>
      <li><a href="/">Index</a>
      <li><a href="/medias">Medias</a>
      <li><a href="/actors">Actors</a>
    </ul>
  </div>
</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>
