<!doctype html>
<title>{% block title %}{% endblock %} Rocket test page </title>
<nav>
  <link rel="stylesheet" href="style.css" />
  <h1>Pages</h1>
  <ul>
      <li><a href="/">Index</a>
      <li><a href="/medias">Medias</a>
  </ul>
</nav>
<style>

/* Give tables borders */
table, th, td {
    border: 1px solid black;
}

</style>
<section class="content">
  {% block content %}{% endblock %}
</section>
